footer {
    background-color: $color-bg-footer;
    color: $color-contrast;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;

    @include tablet-only {
        align-items: center;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1em;
        li {
            a {
                color: $color-contrast;
            }
        }

        @include tablet-only { 
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

        @include computer-only {
            justify-content: space-around;
        }
    }
}