footer {
    background-color: $color-bg-footer;
    color: $color-contrast;
    padding: 30px 25px;

    ul {
        list-style: none;
        padding: 15px 0;
        li {
            padding: 15px 0 0;

            a {
                color: $color-contrast;
            }
        }
    }
}