.card-desc {
    padding: 6px 20px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__txt {
        display: flex;
        flex-direction: column;
        line-height: 1.6em; //VOIR OÙ L'INSERER

        &__title {
            font-weight: 900;

            +p {
                font-weight: 300;
            }
        }

        //restaurant card
        h5 {
            font-size: 1.2em;

            +p {
                font-size: 1.07em;

            }
        }

        //menu card
        h3 {
            font-size: 1em;
            flex: 1;
    
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            +p {
                font-size: 0.84em;
            }
        }
    }

    .fa-heart {
        font-size: 1.67em;
    }

    &__price {
        font-size: 0.87em;
        padding: 0 0 0.4em;
        align-self: flex-end;
    }
}