.test {
   color: pink;
   width: 150px;
            background-color: $color-contrast;
            border-radius: 0.9em;
            margin: 0 1em;
            overflow: hidden;
            @include shadow();
}

.test-card {
    padding: 6px 20px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   &__txt {
    background-color: blanchedalmond;
    min-width: 0;
    flex: 1;
    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
   }
}