//TEST DANS BG-IMG


.bg-img {
    height: 15em;
    //width: 100%;
    background-image: url("../img/restaurants/la-note-enchantee.jpg");
    background-size: cover;
}


.bg-clip {
  margin-top: -5em;
  
    img {
        clip-path: polygon(0 22%, 100% 22%, 100% 100%, 0 100%);
    }
  }