//TEST DANS MENU--LA-NOTE-ENCHANTEE

.bg-menu--clip {
//margin-top: -5em;

  img {
  //  clip-path: polygon(0 22%, 100% 22%, 100% 100%, 0 100%);
  }
}


.menu__plat__card--grid {
  width: 100%;
  background-color: $color-contrast;
  overflow: hidden;
  border-radius: 0.9em;
  padding-left: 0.8em;
  @include shadow();

  display: grid;
  grid-template-columns: 1fr 2.5em 0;
  grid-template-rows: 2fr;
  align-items: center;

  @include after-pos-init;
  @include hover-after-op;
  
  &::after {
    @include after-elem-op;
    display: grid;
    grid-template-columns: 1fr 2.5em 20%;
  }

  &__title {
    font-size: 1em;
    padding-top: 0.5em;
  }
  

  &__subtitle {
    grid-row-start: 2;
    font-size: 0.84em;
    padding-bottom: 0.5em;
  }

  &--ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__price {
    grid-area: 2;
    padding-bottom: 0.5em;
  }

  .fa-circle-check {
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-contrast;
    background-color: $color-tertiary;
    height: 100%;
  }




  &--reduce {
    grid-template-columns: 1fr 2.5em 20%;

    .fa-circle-check {

      background-color: $color-tertiary;
      height: 100%;

    }
  }
}