//TEST DANS heart-filled

.menu--heart {
    height: 20em;
    padding: 1em;

    display: flex;
    justify-content: space-around;
    .fa-heart {
        font-size: 3em;
    }
}

.simple-heart {
    &:hover {
        background-image: -webkit-linear-gradient($color-primary, $color-secondary);
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}


.after-heart {
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        background-image: -webkit-linear-gradient($color-primary, $color-secondary);
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

.menu--heart__orig {
    .heart__hover {
        transform-origin: center bottom;
    }
}