//TEST DANS MENU-A-LA-FRANCAISE

.fa-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
	background-clip: padding-box;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 1.64em;

    position: relative;
    bottom: 30px;
    left: 87.8%;
    transform: scaleX(0);
    transform-origin: center bottom;
    transition: transform 250ms;
    
    &:hover {
        transform: scaleX(1);        
    }
}
