//TEST DANS MENU-A-LA-FRANCAISE

.menu--heart {
   // height: 20em;

    .fa-heart {
       // font-size: $fa-size ;
    }
}


.simple-heart {
    &:hover {
        background-image: -webkit-linear-gradient($color-primary, $color-secondary);
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}


.after-heart {
    @include after-pos-init;
    @include hover-after-op;


    &::after {
        @include after-elem-op;
        background-image: -webkit-linear-gradient($color-primary, $color-secondary);
        background-clip: padding-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}
