@mixin shadow($int: 0.3, $where: 0.2em 0.2em 0.7em, $color: #000) {
       box-shadow: $where rgb(red($color), green($color), blue($color), $int);
}

@mixin card-init () {
       width: 100%;
       overflow: hidden;
       background-color: $color-contrast;
}

@mixin display-grid ($colums, $rows: 2fr) {
       display: grid;
       grid-template-columns: $colums;
       grid-template-rows: $rows;
       align-items: center;
}

@mixin bg-image($nom-restau) {
       background-image: url(map-get($menu-bg, $nom-restau));
}

@mixin tablet-only {
       @media screen and (min-width : map-get($breakpoints, tablet)){
              @content;
       }
}

@mixin computer-only {
       @media screen and (min-width : map-get($breakpoints, computer)){
              @content;
       }
}