@mixin shadow($int: 0.3, $where: 0.2em 0.2em 0.7em, $color: #000) {
       box-shadow: $where rgb(red($color), green($color), blue($color), $int);
}

@mixin card-init () {
       width: 100%;
       overflow: hidden;
       background-color: $color-contrast;
}

@mixin display-grid ($colums, $rows: 2fr) {
       display: grid;
       grid-template-columns: $colums;
       grid-template-rows: $rows;
       align-items: center;
}

@mixin bg-image($nom-restau) {
       background-image: url(map-get($menu-bg, $nom-restau));
     }

@mixin after-elem-op() {
       content: "";
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       opacity: 0;
       z-index: -1;
       transition: opacity 250ms;
}

@mixin after-pos-init() {
       position: relative;
       z-index: 1;
}

@mixin hover-after-op ($bool : false) {
       &:hover {
              &::after {
                     opacity: 1;
              }
       }

       @if ($bool ==1) {
              .menu__plat__card__check {
                     opacity: 1;
              }
       }
}